.experimentList {
  width: 90%;
  border-radius: 15px;
  height: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

p {
  text-align: left;
  width: 80%;
  margin: auto;
}

.experimentDetails {
  margin-bottom: 40px;
  border: 5px double #003049;
  padding-bottom: 20px;
}