.userWelcome {
    width: 90%;
    border-radius: 15px;
    height: 100%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    background-color: hsl(31, 100%, 48%, .4);
}

.experimentList {
    background-color: hsl(0, 69%, 50%, .5);
}

.experimentCard {
    border: 5px double #003049;
}